/* opacity property is used to give transparency to the element. It can take value 
    between 0 and 1. 0 means comletely transparent i.e. element disappear and 1 means
    fully visible. */

body {
  background-color: aqua;
}

.div1 {
  width: 500px;
  background-color: lightgreen;
  border: 5px solid green;
  margin: 30px 100px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  opacity: 0.5;

  /* Note: opacity property may not work with Internet Explorer 8 and older version.
    In this case we use this property as: 
        filter: alpha(opacity=50); => equivalent to opacity: 0.5 */
}

/* opacity property was introduced in CSS2.0 version and it ;makes the both element and background
color transparent. The major difference between opacity and rgba() proeprty is that rgba()
is introduced in CSS3 and it only applied to background color only   */
